<!DOCTYPE html>
<html lang="en" xmlns: xmlns: xmlns:>
<head>
    <meta charset="utf-8">
    <title>Settings</title>
    <link rel="stylesheet" href="../../vendor/css/photon.css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="./settings.css" media="screen" charset="utf-8">
    <script charset="utf-8">require('./settings')</script>
</head>
<body>
<div class="window settings" id="app">
    <div class="settings-content">
        <div class="form-group">
            <label>Repository directory</label>
            <div>
                <button class="btn btn-default" @click="changeDir">select</button> {{ dir || 'not selected' }}
            </div>
        </div>
        <div class="form-group">
            <label>Application</label>
            <div style="width: 350px">
                <select class="form-control" v-model="appId" @change="changeApp">
                    <option>accounts</option>
                    <option>bonuses</option>
                    <option>pfploans</option>
                    <option>pfpinsurance</option>
                    <option>blocks</option>
                    <option>blocks</option>
                    <option>common</option>
                    <option>mortgage</option>
                    <option>realty</option>
                    <option>cps</option>
                    <option>products</option>
                    <option>invest</option>
                    <option>payments</option>
                    <option>pfphome</option>
                    <option>mhome</option>
                    <option>board</option>
                    <option>travel</option>
                    <option>mtravel</option>
                </select>
            </div>
        </div>

        <div class="form-group" v-for="item in [{ k: 'TRADING_API', v: 'api/trading/'}, { k: 'TINKOFF_API', v: 'api/v1/'}, { k: 'FRONT_API', v: 'api/front/'}]">
            <label>
                <span v-if="proxySettings.url === env[item.k]" class="icon icon-shuffle"></span>
                {{ item.k }}
            </label>
            <div class="settings-text-input">
                <input
                    class="form-control"
                    v-model="env[item.k]"
                    @input="updateEnv(item.k, $event)"
                />
                <a
                    href="#"
                    v-for="server in ['qa4', 'uat', 'dev']"
                    @click="updateEnv(item.k, { target: { value: `https://www-${server}.tcsbank.ru/${item.v}` } })"
                >
                    {{server}}
                </a>
                <a
                    href="#"
                    @click="setProxy(item.k)"
                >
                    proxy
                </a>
            </div>
        </div>
        <div class="form-group" v-if="proxySettings.url">
            <label>
                Proxy
            </label>
            <div class="settings-text-input">
                <input
                    disabled
                    class="form-control"
                    v-model="proxySettings.url"
                />
            </div>
        </div>
    </div>
    <footer class="toolbar toolbar-footer">
        <h1 class="title">
            All settings are stored under home directory. (look tinkoff.json)
        </h1>
    </footer>
</div>
</body>
</html>
